@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body, p {
    padding: 0;
    margin: 0;
    font-family: 'Mulish', Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    /* padding: 20px 0; */
    /* background-color: #111; */
    height: 80px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

nav li a:hover {
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}

.logo {
    width: 60px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header {
    background: linear-gradient(
        -45deg
        ,#1b4079,#ffe182,#e48257,#1a1c20);
    background-size: 400% 400%;
    z-index: -9;
    margin-top: -80px;
}

header .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    font-size: 50px;
    line-height: 60px;
    color: #fff;
}

header p {
    color: #fff;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 4rem;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    width: 15vh;
    text-decoration: none;
    font-size: 16px;
    /* margin-top: 6rem; */
    flex-grow: 20%;
    border-radius: 25px;
    cursor: pointer;
  }

  .button:hover {
    background: #fff;
    color: #1a1c20;
    transition: .3s ease-in-out;
  }

  .primary {
    background-color: #1a1c20;
  }

  main#about {
    background-color: #1a1c20;
    color: #fff;
    padding: 50px;
  }

  .wrapper {
    display: flex;
  }

.wrapper a {
    color: #fff;
  }

  .wrapper img{
    max-width:100%;
    min-width: 300px;
  }

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    line-height: 30px;
  }

  .bio h1 {
      font-size: 40px;
      font-weight: bold;
  }

  .contact ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    padding: 0;
  }

  .contact li a {
    text-decoration: none;
  }

  .contact li a:hover {
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid;
    padding-bottom: 5px;
  }

.title-section {
    text-align: center;
    font-size: 45px;
    padding: 20px;
    margin: 0;
    color: #fff;
}

article#skills {
    padding: 50px;
    background: linear-gradient(0deg, rgba(36,36,36,1) 0%, rgba(172,172,172,0) 100%), url("./images/pexels-negative-space-34153.jpg") no-repeat fixed center;
    background-size: cover;
}

aside .progress {
    width: 100%;
    background-color: #ddd;
    border-radius: 25px;
}

aside.front-end h4 {
    color: #fff;
    display: flex;
    justify-content: flex-end;
}

.value-bar {
    height: 15px;
    background-color: #e48257;
    text-align: center;
    line-height: 30px;
    border-radius: 25px;
}

aside.front-end {
    margin: 20px;
    flex-basis: 100%;
}

aside.backend {
    margin: 20px;
    flex-basis: 100%;
}

aside.backend h4 {
    color: #fff;
}

article#project {
    background-color: #1a1c20;
    color: #fff;
    height: 420px;
  }

  article#project .wrapper {
    height: 420px;
  }

  aside.github {
      flex-basis: 100%;
      background: url("./images/pexels-bich-tran-669996.jpg") no-repeat center;
      background-size: cover;
  }

  /* aside.github:hover {
    cursor: pointer;
    transition: all .3s ease-in-out;
    background: linear-gradient(0deg, rgba(36,36,36,1) 0%, rgba(172,172,172,0) 100%), url("./images/pexels-bich-tran-669996.jpg") no-repeat center;
  } */

  aside.github h4, aside.trakteer h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 100%;
    margin: 0;
  }

  aside.github:hover {
    text-decoration: line-through;
    transition: all .3s ease-in-out;
    cursor: pointer;
    background: linear-gradient(0deg, rgba(36,36,36,1) 0%, rgba(172,172,172,0) 100%), url("./images/pexels-bich-tran-669996.jpg") no-repeat center;
    background-size: cover;
  }

  aside.trakteer {
      flex-basis: 100%;
      background: url("./images/pexels-miguel-á-padriñán-932261.jpg") no-repeat center;
      background-size: cover;
  }

  aside.trakteer:hover {
    text-decoration: line-through;
    transition: all .3s ease-in-out;
    cursor: pointer;
    background: linear-gradient(0deg, rgba(36,36,36,1) 0%, rgba(172,172,172,0) 100%), url("./images/pexels-miguel-á-padriñán-932261.jpg") no-repeat center;
    background-size: cover;
  }

  footer {
    height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 8pt;
    background-color: #1a1c20;
    color: #fff;
}

@media (min-width: 576px) {
    .container {
      width: 550px;
    }
}

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}
    

@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}


/* Tab Size */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }

    aside.front-end h4 {
        justify-content: flex-start;
    }

    article#skills .wrapper {
        align-items:normal;
      }

    .wrapper {
        flex-direction: column;
      }

      .contact ul{
        flex-direction: column;
      }

      .bio {
          align-items: center;
          padding: 25px 0px 0px 0px;
      }

      .bio h1 {
          font-size: 35px;
      }
}

/* mobile size */
@media screen and (max-width: 576px) {

    nav ul {
        display: none;
    }

    header h1 {
        font-size: 25px;
        line-height: 30px;
        color: #fff;
    }

    .button {
        width: 20vh;
    }
}